


    <div class="nav text ">
        <ul class="navbar-nav d-flex flex-row justify-content-end  ">
            <li class="nav-item">
              <a class="nav-link  pl-4" routerLink="home" >Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  pl-4" routerLink="aboutus">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  pl-4" routerLink="jobs">jobs</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link  pl-4" routerLink="client">Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  pl-4" routerLink="employ">clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  pl-4" routerLink="contactus">Contact Us</a>
            </li>
        </ul>
    </div>




    <router-outlet></router-outlet>
    <app-employee-dashboard ></app-employee-dashboard>
    

   