<p>navclient works!</p>
<!-- 
<div class="details employee-dashboard">
    <div class="col-md-8 offset-md-2">
    <table class="table table-bordered border-dark text-center mt-5">
      <thead>
        <tr>
          <th scope="col"> Id</th>
          <th scope="col"> first name</th>
          <th scope="col"> last name</th>
          <th scope="col"> email id</th>
          <th scope="col">mobile no</th>
          <th scope="col">city</th>
          <th scope="col">state</th>
          <th scope="col">Country</th>
          <th scope="col">Range</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of employData">
          
          <td>{{ row.id }} </td>
          <td>{{ row.firstname }} </td>
          <td>{{ row.lastname }} </td>
          <td>{{ row.email }} </td>
          <td>{{ row.mobileno }} </td>
          <td>{{ row.city }} </td>
          <td>{{ row.State }} </td>
          <td>{{ row.Country }} </td>
          <td>{{ row.range}}</td>
          <td>
            <!-- <button class="btn btn-info me-2" (click)="onedit(row)">Edit</button>
            <button class="btn btn-danger" (click)="deleteEmploy(row.id)">Delet</button> -->
          <!-- </td>
         
        </tr>
      </tbody>
    </table>
    </div> --> -->